@import "tailwindcss";
@font-face {
  font-family: 'kelpt';
  src: url('/fonts/FONTSPRING-DEMO-KELPTSANSB1-BLACK.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kelpt';
  src: url('/fonts/FONTSPRING-DEMO-KELPTSANSB1-BLACKITALIC.OTF') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'gothic';
  src: url('/fonts/rama-gothic-rounded-c-bold.woff2') format('woff2'),
       url('/fonts/rama-gothic-rounded-c-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}